################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/Cinchoo.Core/v15
/src/bin
/src/obj
/src/Cinchoo.Core.suo
/src/Copy of ChoConvert.cs
/src/Copy (2) of ChoConvert.cs
/src/RSPGlobalAssemblyInfo.cs
/Cinchoo.Core.pdb
/Cinchoo.Core.dll
/src/Cinchoo.Core.pdb
/src/Cinchoo.Core.ETL.pdb
/src/Cinchoo.Core.ETL.dll
/src/Cinchoo.Core.dll
/src/Cinchoo.Core.csproj.user
